/* General styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Decreased width */
    margin: 100px auto; /* Center the container */
    padding: 20px;
    background-color: white; /* White */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */

header {
    background-color: #ffcc99; /* Light orange */
    color: #fff;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: orangered;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: orangered;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; /* Light yellow */
}

/* Background styles */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ffcc99, #ff9966); /* Light orange to dark orange */
    z-index: -1;
}

/* Login form styles */
.login-form {
    background-color: #fff;; /* White */
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.login-form h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9966; /* Dark orange */
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9933; /* Lighter shade of orange */
}
